

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <p>Lista de lenguajes de programación:</p>
  </nav>

 
  
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Listas de lenguajes:</h4>
      <ul class="list-group">
        <li class="list-group-item "> {{listas}} </li>
      </ul>
    </div>
   
  </div>
  
  <footer class="footer footer-expand-lg footer-light bg-light">
    <div class="container">
      <span class="text-muted">Tarea 1 listados</span>
    </div>
  </footer>
  
      
